*{ /* selettore universale */
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url('img/background.jpg');
  background-size: cover;
}

.conteiner{
  width: 1400px; 
  margin: auto; 
  margin-top: 230px; 
  padding: 100px; 
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-family: 'Poppins', sans-serif;
}

header, nav{ 
  text-align: center; 

header > h1{ 
  color: #00dd00;
}

nav{
  background-color: #00dd00;
  padding: 15px;
  border-radius: 30px;
}

main{
  color: white;
}

.logo{
  height: 100px;
}

section > h2{ 
  display: inline-block;
  margin-left: 5px; 

div > span{
  display: block; 

.scooter{
  margin-top: 50px; 
}
/* Freccia indecativa */
.scooter-position:before{ 
  content: "\21A6";
}

.scooter-position{
  font-size: 13px;
}

/* Stato delle batterie */
.battery{
  height: 35px;
  border-radius: 20px;
}

.charge-1{
  width: 35%;
  background-color: #f5b453;
}

.charge-2{
  width: 70%;
  background-color: #1ec31e;
}

.charge-3{
  width: 20%;
  background-color: #be4141;
}
